/* Scrollbar customization */

body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track {
	background: transparent;
}
body::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 10px;
}

/* Firefox scrollbar */
@supports (scrollbar-color: red green) {
	body {
		scrollbar-color: var(--scrollbar-thumb) transparent;
		scrollbar-width: thin;
	}
}

/* Classes */

.dark {
	/* Dark mode */
	--bg: hsl(227, 14%, 20%);
	--bg-alt: hsl(228, 22%, 14%);
	--text: white;
	--text-alt: #ef5350;
	--text-shadow: #000;
	--text-shadow-light: #000;
	--scrollbar-thumb: hsl(0, 0%, 69%);
}
.light {
	/* Light mode */
	--bg: hsl(212, 22%, 88%);
	--bg-alt: hsl(200, 3%, 53%);
	--text: black;
	--text-alt: hsl(0, 66%, 58%);
	--text-shadow: #777;
	--text-shadow-light: #999;
	--scrollbar-thumb: hsl(0, 0%, 25%);
}

.center {
	text-align: center;
	margin: auto;
}

.linkInText {
	text-decoration: underline;
}

/* Classes for images. Images are easier to resize for mobile view this way. */
.img25 {
	width: 25%;
}
.img40 {
	width: 50%;
}
.img50 {
	width: 60%;
}
.img100 {
	width: 100%;
}

.card {
	display: flex;
	border: 1px solid var(--text);
	border-radius: 12px;
	box-shadow: 2px 2px 2px 1px var(--text-shadow-light);
}
.card > .content {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100%;
	padding: 12px;
}
.card > .content > h3 {
	margin: 1em 0;
	text-align: center;
}
.card > .content > p {
	flex-grow: 1;
}
.card > .content img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}
.card > .content > * {
	padding: 6px;
}

/* Elements */

html {
	scroll-behavior: smooth;
}

br {
	visibility: hidden;
	user-select: none;
}

body {
	visibility: hidden;
	font-family: Roboto;
	font-weight: 400;
	background: var(--bg);
	color: var(--text);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1920px;
	margin: 0 auto;
}
header img {
	width: 25%;
	margin-top: 2em;
	border-radius: 50%;
}

h1 {
	display: block;
	width: 100%;
	margin: 3em auto;
	padding: 64px;
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 0.25em;
	text-shadow: 1px 1px #000;
}

h2 {
	font-size: clamp(1.75em, 2em, 2.25em);
	font-weight: 500;
	text-shadow: 1px 1px var(--text-shadow);
	user-select: none;
}

h3 {
	font-size: 1.4em;
	font-weight: 400;
	text-shadow: 1px 1px var(--text-shadow-light);
	user-select: none;
}

h1,
h2,
h3 {
	color: var(--text-alt);
	text-align: center;
}

nav {
	display: grid;
	position: sticky; /* Stays at the top of the screen even after scrolling */
	top: 0;
	background-color: var(--bg);
	grid-template-columns: 1.2fr 3fr 1.2fr; /* 3 columns. Middle column is 3 times as wide as the others */
	place-items: center;
	max-width: 1920px;
	height: 64px;
	margin: 0 auto;
}
nav > * {
	/* Containers within nav */
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	vertical-align: middle;
}
nav * {
	/* Everything within nav */
	vertical-align: middle;
	text-align: center;
	user-select: none;
}
nav ul {
	list-style-type: none;
	text-align: center;
}

main {
	display: block;
	max-width: 1920px; /* Limit width to 1920px. Much nicer for people with ultrawide monitors */
	margin: 1em auto;
}
main > section {
	margin: 0 auto;
	padding-top: 32px; /* Offset for navbar links */
	width: 50%;
}
main > section::after {
	/* 5px thick horizontal line between sections */
	content: "";
	display: block;
	background: var(--bg-alt);
	margin-top: 3em;
	height: 5px;
	width: 100%;
}
main > section h2,
main > section h3 {
	display: block;
	margin: 2em;
}
main > section {
	display: block;
	margin-bottom: 2em;
}

a {
	display: inline;
	color: var(--text);
	transition-property: color, transform;
	transition-duration: 0.5s;
}
a :not(.linkInText),
a * :not(.linkInText) {
	transform: scale(1);
	color: var(--text);
	text-decoration: none;
}
a:hover,
a *:hover {
	transform: scale(1.1);
	color: var(--text-alt);
}

img,
img a {
	user-select: none;
}

footer {
	background-color: var(--bg);
	text-align: center;
	font-size: 1.2em;
	user-select: none;
	margin-top: 6em;
	margin-bottom: 1em;
}
footer h2 {
	font-size: 1.2em;
}
footer div {
	display: block;
	user-select: text;
}

/* IDs */

#name {
	font-weight: 500;
	font-size: 1.2em;
	color: var(--text-alt);
	text-align: center;
	user-select: text;
	margin: auto 0;
}
#mobileName {
	display: none;
}

/* Desktop menubar */
#menuBar li {
	display: inline-block;
	margin: 0;
}
#menuBar li a {
	display: inline-block;
	margin: 0 6px;
	padding: 10px 8px;
}
#menuBar li a:hover {
	animation: colorChange 0.5s normal forwards 1 ease;
}

/* Mobile menubar */
#mobileMenu {
	display: none;
	position: fixed;
	grid-template-columns: repeat(auto-fit, 1fr);
	row-gap: 5%;
	place-content: center;
	vertical-align: middle;
	top: 0;
	left: 0;
	height: calc(100% + 64px);
	width: 100%;
	background: var(--bg);
	z-index: 2;
	overflow: hidden;
}
#mobileMenu > * {
	font-size: 2em;
}
#mobileMenu li {
	display: block;
	height: 25%;
	width: 100%;
}
#mobileMenu li a {
	display: block;
	padding: 2vh 1em;
	border-radius: 25px;
}

/* Common menu options */
#navRight a,
#navRight a:hover {
	animation: none;
	text-decoration: none;
}

#navLeft {
	width: 100%;
}
#navLeft * {
	display: inline-block;
}

#menuBtn,
#darkModeBtn,
#githublogo *,
#gitlablogo * {
	display: inline-block;
	height: 42px;
	cursor: pointer;
}
#githublogo {
	margin-right: 1em;
}
#menuBtn {
	display: none;
}

#githublogo:hover,
#gitlablogo:hover {
	cursor: pointer;
}

#upArrow1 {
	/* Arrow that takes you to the top in desktop view */
	display: none;
	position: fixed;
	bottom: 5%;
	right: 3%;
	cursor: pointer;
	height: 42px;
	width: 42px;

	transition: filter 0.25s;
}
#upArrow1:hover {
	filter: invert(76%) sepia(60%) saturate(6900%) hue-rotate(0deg)
		brightness(100%) contrast(60%);
}

#programming {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

#programming > .card {
	flex: 1 1;
	min-width: 350px;
	max-width: 60%;
}
